.idea/
.vscode/
.DS_Store
*/.DS_Store
*__pycache__*
*/__pycache__/
src/*/__pycache__/
atlas/
cache/
checkpoint/
checkpoints*
/checkpoints*
ColBERT/
DeepSpeed/
embedding/
embeddings/
meta-llama/
model.txt
nanoDPR/
nanoGPT/
open-instruct/
pretrained_model/
RAG-Gist/
transformers/
cache
/data
downloads/
output
outputs
processed_data_finetune
results/

ranking.tsv
tmp/
temp/
nohup.out
wandb/
bug.py
*.csv
draft.ipynb
draft.py
.empty
*.xlsx
*.json
.ipynb_checkpoints/
set_openai_keys.sh